  <!-- start page title section -->
  <section class="page-title-section bg-img cover-background">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <h1>Liên hệ</h1>
     </div>
     <div class="col-md-12">
      <ul>
       <li><a href="index.php">Trang chủ</a></li>
       <li><a href="javascript:void(0)">Liên hệ</a></li>
      </ul>
     </div>
    </div>
   </div>
  </section>
  <!-- end page title section -->

  <!-- start advice form section -->
  <section>
   <div class="container">
    <div class="row">

     <div class="col-lg-6 col-md-12 sm-margin-30px-bottom">

      <div class="padding-30px-right sm-no-padding-right">
       <div class="row">
        <div class="col-12">

         <div class="section-heading left half">
          <h4 class="font-weight-600">Hỗ trợ 24/7</h4>
         </div>

        </div>

        <div class="col-12 margin-5px-top">
         <div class="padding-25px-bottom sm-padding-20px-bottom border-bottom border-color-medium-gray">
          <span class="d-inline-block font-size26 sm-font-size22 xs-font-size20 line-height-30 text-theme-color vertical-align-top width-30px xs-width-25px"><i class="fas fa-phone vertical-align-top"></i></span>
          <div class="d-inline-block vertical-align-top padding-10px-left width-75">
           <h5 class="margin-5px-bottom text-uppercase font-size15 xs-font-size14">Số điện thoại</h5>
           <p class="no-margin line-height-normal">{tel} | {hotline}</p>
          </div>
         </div>
        </div>
        <div class="col-12">
         <div class="padding-25px-tb sm-padding-20px-tb border-bottom border-color-medium-gray">
          <span class="d-inline-block font-size26 sm-font-size22 xs-font-size20 line-height-30 text-theme-color vertical-align-top width-30px xs-width-25px"><i class="fas fa-map-marker-alt vertical-align-top"></i></span>
          <div class="d-inline-block vertical-align-top padding-10px-left width-75">
           <h5 class="margin-5px-bottom text-uppercase font-size15 xs-font-size14">Địa chỉ</h5>
           <p class="no-margin line-height-normal">{address}</p>
          </div>
         </div>
        </div>
        <div class="col-12">
         <div class="padding-25px-tb sm-padding-20px-tb">
          <span class="d-inline-block font-size26 sm-font-size22 xs-font-size20 line-height-30 text-theme-color vertical-align-top width-30px xs-width-25px"><i class="far fa-envelope vertical-align-top"></i></span>
          <div class="d-inline-block vertical-align-top padding-10px-left width-75">
           <h5 class="margin-5px-bottom text-uppercase font-size15 xs-font-size14">Email</h5>
           <p class="no-margin line-height-normal">{site_email}</p>
          </div>
         </div>
        </div>

        <div class="col-12">
         <div class="margin-10px-top">
          <ul class="social-icon-style7">
           <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
           <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
           <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
           <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
           <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
         </div>
        </div>

       </div>
      </div>

     </div>

     <div class="col-lg-6 col-md-12">
      <div class="contact-form-box">


       <div class="section-heading left half">
        <h4 class="font-weight-600">Để lại lời nhắn.</h4>
       </div>
       <form method="post" class="mailform off2">
        <div class="row">
		 <div id="thongbao"></div>
         <div class="col-md-12">
          <input type="text" id="name" placeholder="Tên của bạn" >
         </div>
         <div class="col-md-6">
          <input type="text" id="phone" placeholder="Số điện thoại">
         </div>
         <div class="col-md-6">
          <input type="text" id="email" placeholder="Email">
         </div>
         <div class="col-md-12">
          <textarea id="content" rows="5" placeholder="Lời nhắn"></textarea>
         </div>
         <div class="mfControls col-md-12">
          <button type="button" class="butn theme" id="send_contact">Gửi đi</button>
         </div>
        </div>
       </form>
      </div>
     </div>

    </div>
   </div>
  </section>
  <!-- end advice form section -->


  <!-- start map section -->
  <div><img src="img/google_map.png" style="height:30%; width:100%"/></div>
  <!-- end map section -->