  <!-- start footer section -->
  <footer class="bg-img background-size-contain" data-overlay-dark="9" data-background="img/bg/bg1.jpg">
   <div class="footer-bar bg-transparent border-top border-color-light-white position-relative z-index-1">
    <div class="container">
     <p>&copy; 2019 Trungcuong</p>
    </div>
   </div>
  </footer>
  <!-- end footer section -->

 </div>
 <!-- end main-wrapper section -->

 <!-- start scroll to top -->
 <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
 <!-- end scroll to top -->

 <script src="js/core.min.js"></script>

 <!-- serch -->
 <script src="search/search.js"></script>
 
 <script src="js/xzoom.js"></script>
 
 <script src="js/setup.js"></script>

 <!-- revolution slider js files start -->
 <script src="js/rev_slider/jquery.themepunch.tools.min.js"></script>
 <script src="js/rev_slider/jquery.themepunch.revolution.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
 <script src="js/rev_slider/extensions/revolution.extension.video.min.js"></script>
 <!-- revolution slider js files end -->

 <!-- custom scripts -->
 <script src="js/main.js"></script>
  <script src="js/all_cuongdc.js"></script>

</body>

</html>
