  <!-- START BLOCK : gioi_thieu -->
  <section>
   <div class="container">

    <div class="row">
     <div class="col-lg-6 col-md-12 sm-margin-30px-bottom">

      <div class="section-heading title-style5 left half line-height-normal">
       <span>Giới thiệu</span>
       <h5>{name}</h5>
       <div class="square">
        <span class="separator-left bg-theme"></span>
        <span class="separator-right bg-theme"></span>
       </div>
      </div>

      <p>{gioi_thieu}</p>

      <div class="margin-30px-bottom md-margin-25px-bottom xs-margin-20px-bottom">
       <span>Liên hệ 24/7. Chúng tôi cam kết giải đáp <strong class="font-weight-600 font-size18 sm-font-size16 xs-font-size15">mọi thắc mắc của bạn.</strong></span>
      </div>
      <div class="border-bottom padding-20px-bottom margin-20px-bottom md-padding-15px-bottom md-margin-15px-bottom">
       <h4 class="display-inline-block font-size18 sm-font-size16 xs-font-size15 margin-20px-right no-margin-bottom">{hotline}</h4>
       <div class="display-inline-block margin-20px-right vertical-align-top"><strong class="font-weight-700 text-theme-color">hoặc</strong></div>
       <h4 class="display-inline-block font-size18 sm-font-size16 xs-font-size15 no-margin-bottom"><a href="javascript:void(0)">{site_email}</a></h4>
      </div>

      <div class="text-right float-left width-100">
       <p class="float-left text-left no-margin"><span class="font-weight-700 display-block"><a href="Cong-ty-tnhh-thuong-mai-dich-vu-Minh-Phong-Trung-Cuong.html" class="butn theme" title="{name}"><span>Xem thêm</span></a>
        </span>
       </p>
      </div>

     </div>
     <div class="col-lg-6 col-md-12">
		  {link_video}
     </div>
    </div>

   </div>
  </section>
  <!-- END BLOCK : gioi_thieu -->
  <!-- START BLOCK : all_may -->
  <section class="sec-w-bdbot">

   <div class="container">
    <div class="section-heading title-style5">
     <h2 class="text-uppercase font-weight-600">{name}</h2>
     <div class="square">
      <span class="separator-left bg-theme"></span>
      <span class="separator-right bg-theme"></span>
     </div>
    </div>
   </div>

   <div class="container">

    <div class="row">

     <div class="gallery text-center width-100">

		<!-- START BLOCK : may_sub -->
      <div class="col-lg-3 col-md-6 margin-30px-bottom items design">
       <div class="project-grid-style2">
        <div class="project-details">
         <img src="upload/images/{small_image}" alt="{name}">
         <div class="portfolio-icon">
          <a class="popimg" href="upload/images/{image}"><i class="fas fa-search-plus"></i></a>
         </div>

        </div>
        <div class="portfolio-title">
         <h4><a href="{link}">{name}</a></h4>
        </div>
       </div>
      </div>
	  <!-- END BLOCK : may_sub -->
	  
     </div>
     <div class="text-center width-100">
      <p class="no-margin"><span class="font-weight-700 display-block"><a href="{link_xemthem}" class="butn theme" title="{name}"><span>Xem thêm</span></a>
       </span>
      </p>
     </div>
    </div>

   </div>

  </section>
   <!-- START BLOCK : all_may -->

  <section class="bg-light-gray">
   <div class="container">

    <div class="section-heading title-style5">
     <h3 class="text-uppercase font-weight-600">Khách hàng nói về chúng tôi</h3>
     <div class="square">
      <span class="separator-left bg-theme"></span>
      <span class="separator-right bg-theme"></span>
     </div>
    </div>

    <div class="owl-carousel owl-theme testmonial-style5">
     <!-- START BLOCK : khachhang -->
     <div class="row testmonials-style5 sm-text-center">
      <div class="col-md-12 col-lg-4 sm-margin-15px-bottom"><img alt="{name}" src="upload/images/{image}">
      </div>
      <div class="col-md-12 col-lg-8">
       <div class="data">
        <p>{gioi_thieu}</p>
        <h5>{name}</h5>
        <i class="fas fa-quote-right font-size32 md-font-size30 sm-font-size28 xs-font-size26 opacity1"></i>
       </div>
      </div>
     </div>
	 <!-- END BLOCK : khachhang -->
     
    </div>
   </div>
  </section>

  <!-- start blog section -->
  <section>
   <div class="container">

    <div class="section-heading title-style5">
     <h3 class="text-uppercase font-weight-600">Video</h3>
     <div class="square">
      <span class="separator-left bg-theme"></span>
      <span class="separator-right bg-theme"></span>
     </div>
    </div>

    <div class="row">
     <!-- START BLOCK : video -->
     <div class="story-video col-lg-4 col-md-12 sm-margin-30px-bottom xs-margin-20px-bottom">
      <div class="blog-grids">
       <div class="shadow-primary blog-grid-img margin-25px-bottom sm-margin-20px-bottom">
        <div class="opacity-extra-medium bg-black"></div>
        <img src="upload/images/{image}" alt="{name}" />
        <div class="text-center center-col absolute-middle-center z-index-1">
         <a class="video" href="{link_video}" title="{name}">
          <span class="video_btn sm">
           <i class="fas fa-play font-size18 xs-font-size16"></i>
          </span>
         </a>
        </div>
       </div>
       <div class="blog-grid-text no-padding">
        <h4><a href="{link_video}" title="{name}" class="video">{name}</a></h4>
       </div>
      </div>
     </div>
      <!-- END BLOCK : video -->
	  
    </div>
		<div class="text-center width-100" style="margin-top:40px;">
		  <p class="no-margin"><span class="font-weight-700 display-block"><a href="index.php?act=video" class="butn theme" title="Video Trung Cương"><span>Xem thêm</span></a>
		   </span>
		  </p>
		</div>
   </div>
  </section>
  <!-- end blog section -->